.credit-card{
    height: 198px;
    width: 350px;
    background-color: black;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr;
}
p{
    color: white;
}
.upper-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 66px;
}
.left-sec,
.right-sec{
    height: 66px;
}
.logo{
    height: 50px;
    width: 77px;
    vertical-align: middle;
    margin-left: 15px;
}
.middle-container,
.lower-container{
    height: 66px;
}

.crd{
    display: inline-block;
    font-family: poppins;
    margin-top: 30px;
}
.chip{
    height: 67px;
    width: 110px;
    margin-top: 15px;
    margin-left: 20px;
}

.number-title,
.number{
    font-family: poppins;
    margin-left: 30px;
}
.number-title{
    margin-bottom: 0px;
    font-size: 13px;
    margin-top: 27px;
}
.number{
    margin-top: 0px;
    margin-bottom: 0px;
}

.lower-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.name{
    margin-left: 30px;
    font-family: poppins;
}

.validity,
.date{
    margin-left: 20px;
    font-family: poppins;
    margin-top: 0px;
    margin-bottom: 0px;
}